body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #081100;
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
}

.croco_fundal {
  display: block;
  line-height: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  filter: brightness(50%);
  z-index: 1;
}

.logo {
  position: fixed;
  top: 2%;
  right: 2%;
  z-index: 10;
  width: 6%;
  height: auto;
  transition: filter 0.3s;
}

.logo:hover{
  filter: brightness(80%);
}

.icon {
  position: fixed;
  top: 6%;
  left: 2%;
  z-index: 10;
  color: whitesmoke;
  font-size: 40px;
  transition: all 0.3s;
}

.location_date_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 25px #00ff00;
  background-color: #003801;
  padding: 2% 0;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 10px;
  z-index: 2;
  width: 60%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  color: whitesmoke;
  font-size: 20px;
}


#submit-button{
  width: 40%;
  border-radius: 13px;
  box-shadow: 3px 3px 10px #0000008a;
}

.column {
  flex: 1;
  text-align: center;
}

.title {
  font-weight: bold;
}

select,
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

select[name="cinema"] {
  width: 85%;
  height: 40px;
  border-radius: 50px;
  margin-top: 10%;
  box-shadow: 3px 3px 10px #0000008a;
}

.date-input {
  border: none;
  width: 85%;
  height: 20px;
  border-radius: 50px;
  margin-top: 10%;
  box-shadow: 3px 3px 10px #00000092;
}

.submit-button-class {
  width: 35%;
  padding: 10px;
  background-color: #459e35;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: transform 0.5s, border-radius 0.4s;
}

.submit-button-class:hover {
  background-color: #f9a318;
  transform: scale(1.2);
  border-radius: 0px;
}

/*-------------------------------------------------------------------*/

.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 1.1fr;
  gap: 2%;
  padding: 20px;
  margin: 5% 2%;
}

.text-box {
  color: #468544;
  padding: 10px;
  position: relative;
  height: 100%;
}

.text-box p {
  margin: 0;
  background-color: #003801;
  box-shadow: 0 0 15px #00ff00;
  padding: 5%;
  border-radius: 5px;
  text-align: justify;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.right-images {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 2%;
}

.up-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.images img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: transform 0.3s, filter 0.5s; /* schema */
  filter: sepia(100%) hue-rotate(20deg);
  object-fit: cover;
}

.images img:hover {
  transform: scale(1.05);
  filter: none;
}

/*-------------------------------------------------------------------*/

.carrousel-container {
  background-color: #003801;
  align-items: center;
  box-shadow: 0 0 15px #00ff00;
  margin: 10% 0%;
  padding-bottom: 5%;
  max-width: 100%;
}

.carrousel-title {
  text-align: center;
  font-weight: 900;
  color: #468544;
  font-size: 50px;
  margin: 0;
  padding: 20px 0;
}

.film-title p {
  font-size: 30px;
  font-weight: 900;
}

.film-box {
  background-color: #430917;
  box-shadow: inset 0 0 15px #d41215;
  color: #f9a318;
  margin: 0% 25%;
  border-radius: 10px;
  padding: 5px;
  height: 40%;
}

.film-title {
  text-align: center;
  font-weight: 800;
}

.film-poster {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.671);
  width: 175px;
  height: 275px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}

.film-description {
  background-color: #f9a318;
  justify-content: space-between;
  color: black;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.671);
  max-width: 80%;
  height: auto;
  border-radius: 15px;
  text-align: justify;
  padding: 0.5px 10px;
  margin: 0 auto;
  top: 25%;
  transform: translateY(-25%);
  opacity: 80%;
  max-height: 100%;
  overflow: hidden;
}

.rating {
  text-align: center;
  margin-top: 0;
}

.rating i {
  font-size: 15px;
  margin: 0 2px;
}

.reserve-button {
  text-align: center;
  margin-top: 20px;
}

.reserve-button button {
  background-color: #861006;
  color: white;
  border: none;
  padding: 10px 25px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.671);
  width: 150px;
  height: 40px;
  border-radius: 15px;
  margin-bottom: 10%;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.5s, border-radius 0.5s, font-size 0.5s;
}

.reserve-button button:hover {
  background-color: #640b09;
  border-radius: 0px;
  font-size: 20px;
  text-align: center;
}

.carrousel-films {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1px;
}

.prev-arrow,
.next-arrow {
  background-color: #459e35;
  color: #000000;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 1%;
  border-radius: 50%;
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.671);
  transition: background-color 0.5s;
}

.prev-arrow {
  margin-left: 20%;
  margin-right: 0;
}

.next-arrow {
  margin-left: 0;
  margin-right: 20%;
}

.prev-arrow:hover,
.next-arrow:hover {
  background-color: #f9a318;
}

/*-------------------------------------------------------------------*/

.my-form {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  margin-left: 10%;
  margin-right: 35%;
  padding: 3% 2%;
  gap: 0%;
  border-radius: 25px;
  color: white;
  background-color: #003801;
  box-shadow: 0 0 15px #00ff00;
  border: none;
}

.form-left .form-group {
  width: 50%;
  height: auto;
}
.form-left {
  margin-left: 5%;
}
.right-form .form-group {
  width: 70%;
  height: auto;
}
.right-form {
  margin-left: 5%;
}

.form-field {
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 50px;
  box-shadow: 3px 3px 10px #0000008a;
  border: none;
}

.form-field-seats {
  width: 92%;
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 50px;
  box-shadow: 3px 3px 10px #0000008a;
  border: none;
}

.form-field-data {
  padding: 5px 10px;
  margin: 10px 0;
  border-radius: 50px;
  box-shadow: 3px 3px 10px #0000008a;
  border: none;
}

.form-submit-button {
  width: fit-content;
  height: fit-content;
  padding: 2% 6%;
  background-color: #459e35;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  transition: transform 0.5s, border-radius 0.4s;
}

.form-submit-button:hover {
  background-color: #f9a318;
  border-radius: 0px;
  zoom: 110%;
}

.form-glasses {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-glasses label {
  margin-right: 10px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}

label[for="ochelari-da"],
label[for="ochelari-no"] {
  font-size: 18px;
  color: #fff;
}
#ochelari-da {
  margin-right: 15%;
}

.croco-work {
  position: absolute;
  margin-top: -3%;
  right: 20%;
  width: 20%;
  height: auto;
  z-index: 3;
  border-radius: 50% 0;
  border: 10px solid #49a236;
  border-style: dashed;
}

.croco-bath {
  position: absolute;
  margin-top: 12%;
  right: 5%;
  width: 25%;
  height: auto;
  z-index: 2;
  border-radius: 40% 0;
  border: 10px solid #49a236;
  border-style: dashed;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.swiper-button-next {
  margin-right: 20%;
}

.swiper-button-prev {
  margin-left: 20%;
}

.bottom-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003801;
    color: #fff;
    padding: 10px 5%;
    margin-top: 10%;
    height: 50px;
  }
  
  .left-icon a,
  .right-icons a {
    text-decoration: none;
    color: #b7170a;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.5s;
  }

  .left-icon a:hover,
  .right-icons a:hover {
    color: #d68522;
  }



  /* ------------------------------------ */
  
  :root {
    --home-bg-color: #f2f3ee;
    --menu-bg-color: #cbcbc2;
    --silde-btn-border: #808080;
    --slide-btn-bg: #ddf2db;
    --slide-btn-hoverbg: #f1fff1;
    --alpha-green: rgba(33, 96, 47, 0.51);
    --icon-hover-color: #344a39;
    --icon-hover-bg: #709680;
    --text-color: #616161;
    --border-color: #709680;
    --heading-color: #344a39;
    --box-shadow-color: #b5b5ac;
    --lightest-green: #86a58d;
    --light-green: #9ab09a;
    --dark-green: rgba(52, 74, 57, 0.86);
    --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    --border-radius: 60px 5px;
    --fade-green: rgba(57, 87, 64, 0.55);
  }
  
  
  #ham-menu {
    display: none;
  }
  label[for="ham-menu"] {
    display: block;
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: none;
    border-radius: 15px;
    /* border: 2px solid green; */
  }
  .ham-menu {
    width: 50vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 998;
    background-color: #400916;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ham-menu > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 20px;
    height: 50%;
  }
  .ham-menu > ul {
    font-size: 1.5rem;
    white-space: nowrap;
    letter-spacing: 0.15em;
    cursor: pointer;
  }
  #ham-menu:checked + label {
    background-color: transparent;
    border-color: var(--dark-green);
  }
  #ham-menu:checked ~ div.ham-menu {
    transform: translate(0px);
    visibility: visible;
  }
  .full-page-green {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.306);
    z-index: 997;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
    position: fixed;
    top: 0;
    left: 0;
  }
  #ham-menu:checked ~ div.full-page-green {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  [for="ham-menu"] > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
  }
  .menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: white;
    transition: 500ms;
    transform-origin: right center;
  }
  [for="ham-menu"] > div > span:nth-child(4),
  [for="ham-menu"] > div > span:nth-child(5),
  [for="ham-menu"] > div > span:nth-child(6) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transform-origin: left center;
  }
  #ham-menu:checked + label span {
    background-color: white;
  }
  #ham-menu:checked + label span:nth-child(2),
  #ham-menu:checked + label span:nth-child(5) {
    transform: scale(0);
  }
  #ham-menu:checked + label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
  }
  #ham-menu:checked + label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
  }
  #ham-menu:checked + label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
  }
  #ham-menu:checked + label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
  }

  .text {
    font-size: 2.5rem;
    line-height: 1.5em;
    word-spacing: 0.5em;
    letter-spacing: 0.1em;
    font-family: "OpenSansCondensed-Bold", sans-serif;
  }
  
  .centre-text {
    text-align: center;
  }
  .bold-text {
    font-weight: bold;
  }
  .ham-menu {
    width: 20vw;
  }

  .nav-logos{
    text-align: center;
  }
  .logo1{
    width: 45%;
    margin-left: 0;
  }
  .logo2{
    margin-right: 0;
    width: 45%;
  }
  .nav-top{
    margin-bottom: 90%;
  }

  .highlight-hover-over-text{
    transition: color 0.5s;
  }
  
  .highlight-hover-over-text:hover{
    color: #eaa474;
  }
  .highlight-hover-over:hover{
    filter: sepia(100%) hue-rotate(5deg);
  }

  html{
    scroll-behavior: smooth;;
  }

  .no-underline{
    text-decoration: none;
  }
  /* ---------------------------- */

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: 1fr;
    margin-bottom: 30%;
  }

  .images {
    grid-template-columns: 1fr;
  }

  .images img {
    filter: none;
  }
  .location_date_input {
    width: 80%;
    min-width: 250px;
  }

  select[name="cinema"] {
    width: 110%;
  }

  .date-input {
    width: 60%;
  }

  .submit-button-class {
    width: 80%;
    font-size: 16px;
  }

  .logo {
    width: 15%;
    top: 2%;
    right: 2%;
  }

  .icon {
    font-size: 30px;
    top: 4%;
    left: 4%;
  }

  .film-box {
    margin: 0 5%;
  }
  .film-description {
    top: 0;
    transform: translateY(-10%);
    font-size: smaller;
  }

  .my-form {
    grid-template-columns: 1fr;
    margin-right: 10%;
    padding: 15px;
  }

  select {
    width: 105%;
    padding: 10px;
    margin: 10px 0;
  }
  input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
  }
  .croco-work {
    display: none;
  }
  .croco-bath {
    display: none;
  }

  .swiper-button-next {
    margin-right: 0;
  }

  .swiper-button-prev {
    margin-left: 0;
  }

  .form-left .form-group {
    width: 90%;
    height: auto;
  }
  .right-form .form-group {
    width: 90%;
    height: auto;
  }
  .row {
    width: 100%;
  }
  .film {
    width: 100%;
  }

  .bottom-header {
    padding: 10px 2%;
  }

  .ham-menu {
    width: 50vw; 
  }
}
