body {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: #081100;
    font-family: "Roboto", sans-serif;
}

.container {
    position:relative;
}

.croco_fundal{
    display: block;
    line-height: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    filter: brightness(50%);
    z-index: 1;
}

.logo{
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
    width: 10%;
    height: auto;
}

.icon {
    position: fixed;
    top: 35px;
    left: 20px;
    z-index: 10;
    color: whitesmoke;
    font-size: 40px;
    transition: all 0.3s;
}

.location_date_input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px #00FF00;
    background-color: #003801;
    padding: 2% 0;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 10px;
    z-index: 2;
    width: 60%;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    color: whitesmoke;
    font-size: 20px;
}

.column {
    flex: 1;
    text-align: center;
}

.title {
    font-weight: bold;
}

select,
input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

select[name="cinema"]{
    width: 85%;
    height: 35px;
    border-radius: 50px;
    margin-top: 10%;
}

input[type="date"]{
    width: 80%;
    height: 10px;
    border-radius: 50px;
    margin-top: 10%;
}

button{
    width: 35%;
    padding: 10px;
    background-color: #459e35;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    transition: transform 0.5s, border-radius 0.4s;
}

button:hover {
    background-color: #f9a318;
    transform: scale(1.2);
    border-radius: 0px;
}

.error {
    color: red;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.8fr 1.1fr;
    gap: 20px;
    padding: 20px;
    margin: 5% 2%;
}

.text-box{
    color: #468544;
    padding: 10px;
    position: relative;
    height: 100%;
}

.text-box p{
    margin: 0;
    background-color: #003801;
    box-shadow: 0 0 15px #00FF00;
    padding: 5%;
    border-radius: 5px;
    text-align: justify;
}

@media (max-width: 1200px) {
    .grid-container { grid-template-columns: 1fr; }

    select[name="cinema"] { width: 75%; }

    input[type="date"] { width: 70%; }
    
    button { width: 80%; }
}

.images{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.right-images{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}

.up-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.images img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: transform 0.3s;
    filter: sepia(100%) hue-rotate(20deg);
}

.images img:hover{
    transform: scale(1.05);
    filter: none;
}